/*mobile-first*/

.sh-list-item  {
    font-size: 1.4em;
    flex-basis: 15rem;
}

.sh-list-item .table {
		width: 100%;
		text-align: center;
}

@media only screen and (max-width: 440px) {
	.sh-list-item {
	    min-width: 100%;
	}
}