.sh-random-planet {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sh-random-planet>div {
    margin: 0;
}

.sh-random-planet .rp-desc {
	max-width: 350px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.sh-random-planet>div>img {
    width: 200px;
    height: 200px;
}

.sh-random-planet ul {
    margin: 0;
    font-size: 1.4em;
    padding-inline-start: 20px;
}

@media only screen and (max-width: 575px) {
	.sh-random-planet {
		justify-content: center;
	}

	.sh-random-planet>div {
	    width: 100%;
	}
}

@media only screen and (max-width: 350px) {
	.sh-random-planet>div>img {
	    max-width: 100%;
	    width: auto;
	    height: auto;
	}
}