.sh-random-planet {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sh-random-planet>div {
	flex-basis: 0;
    flex-grow: 1;
	margin-right: 1rem;
	
}

.sh-random-planet .rp-desc {
	max-width: 350px;
	min-width: 230px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.sh-random-planet>div>img {
    width: 220px;
    height: auto;
}

.sh-random-planet ul {
	margin: 0;
    font-size: 1.4em;
    padding-inline-start: 20px;
}

@media only screen and (max-width: 575px) {
	.sh-random-planet {
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.sh-random-planet .rp-desc {
		padding: 1rem;
	}

	.sh-random-planet > div {
		margin: 0;
		text-align: center;
	}
}