/*mobile-first*/

.sh-item-details {
	display: flex;
	align-items: flex-start;
	width: 100%;
	justify-content: center;
	font-size: 1.4em;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding-left: 0.5rem;
}

.sh-item-details>img {
    max-width: 150px;
}

.sh-item-details>ul {
	margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
	.sh-item-details {
		margin-top: 2rem;
		width: 22rem;
		justify-content: flex-start;
		margin-top: 0;
		flex-wrap: nowrap;
	}
}