/*mobile-first*/

.sh-item-details {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.sh-item-details>img {
    max-width: 150px;
}

.sh-item-details {
	justify-content: center;
	font-size: 1.4em;
	margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
	.sh-item-details {
		width: auto;
	}

	.sh-item-details {
		justify-content: flex-end;
		margin-top: 0;
	}
}